
div.regCentered {
    width: 50vw;
    height: 35vw;
    position: absolute;
    top: 20%;
    left: 25%;
    border-radius: 20px;
    background-color: #fffbeb00;

    /* box-shadow: 0 0 20px rgba(33, 33, 33, 0.486); */
}

.regFields {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 100%;
    height: 80%;
}